* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
body {
    background: rgb(219, 217, 217);


}
.container {
    background: #fff;
    max-width: 1064px;
    margin: 0 auto;
}

.title-general h1 {
    padding-left: 25px;
    color: rgb(157, 0, 0); 
}

/* criando o header */
header {
    background: rgb(255, 255, 255);
    /* Altura */
    height: 130px;
    border-bottom: 3px solid rgb(7157, 0, 6);
    /* flexbox */
    display: flex;
    align-items: center;
}

    header img {
            margin-left: 15px;
            margin-right: 15px;
    }


            header h2 {
                color: #ff0000;
                text-transform: uppercase; 
                font-size: 80px;

            }
/* MENU DO SITE */
.menu {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #ff0000;
    list-style: none;
}
.menu li {
    border: 1px solid rgb(0, 0, 0);
    /*Espaçamento*/
    padding: 10px;
    /*largur */

}

.menu li a {
    font-size: 33px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 18px;
}

.menu li a { 
    text-decoration: underline;
}

/* BANNER */
.banner {
    max-width: 1000px;
    height: 250px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100px;
    margin: 20px;
    /*cortar imagem*/
    overflow: hidden;
}
/* Content Home */ 
.content-box {
    border: 2px solid rgb(5, 3, 3);
    margin: 20px;
    /*Flexbox*/
    display: flex;
}

.box { 
    border: 2px solid rgb(20, 18, 20);
    max-width: 400px;
    border-radius: 0px;
    /*Cortar imagem*/
    overflow: hidden;
    margin: 10px 35px 20px 20px;
    /*Sombra*/
    box-shadow:  5px 2px 20px rgb(140, 30, 30);
}

.box img {
    border-bottom: 10px;
}

.box p {
    padding: 5px;
    color: rgb(255, 0, 0);
}

.box a {
    padding: 1px 10px 10px 10px;
    display: block;
    color: rgb(3, 8, 1);
    text-decoration: none;
        /*Negrito*/
    font-weight: bold;
}

.box a:hover {
    text-decoration: underline;
}

.promocao {
    border: 5px solid rgb(0, 0, 0);
    /*Flexbox*/
    display: flex;
    justify-content: center;
}

.promocao img { 
    max-width: 800px;
    height: 180px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px;
    justify-content: center;
    /*Cortar imagem*/
    overflow: hidden;
}
/*Novidades*/
.novidades  {
    background-color: rgb(118, 21, 21);
    margin-top: 20px;
    /*Flexbox*/
    display: flex;
    justify-content: space-around;
}

.novidades spam {
    font-size: 800px;
}

.novidades article {
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.novidades form {
    width: 100%;
}

.novidades form button {
    border: 1px solid rgb(255, 0, 0);
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

    footer{
    background: black;
    height: 40px;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    }
    footer p {
        color: rgb(228, 7, 7);
    }
/*Página Sobre*/
.spaceSobre, .spaceContato {
    margin: 20px 0 20px 0;
}

.containerlista {
    margin-left: 30px;
    margin-bottom: 30px;
}

.containerlista details {
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.containerlista article {
    margin-top: 8px;
    color: rgb(255, 255, 255);
}


/*Página Contato*/ 
.text-contato {
    margin: 0 0 20px 30px;
    font-size: 42px;
}

.text-contato {
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form { 
    margin: 30px;
}

.form-group { 
    margin: bottom 20px;
    margin-top: 20px;
}

.form-group select { 
    height: 30px;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-left: 20px;
}

.form-group label { 
    font-size: bold;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.form-group input { 
    width: 100%;
    max-width: 600px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    border-radius: 7px; 
    margin-left: 20px;
}

.form-group-sexo label { 
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    
}
legend {
    padding: 10px;
    display: inline-block;
    font-size: 18px;
}

.form-group-info { 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control-padrao { 
    width: 100%;
    max-width: 50px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    border-radius: 7px;
}
.comentario { 
    width: 100%;
    max-width: 300px;
    height: 150px;
    border: 2px solid red;
    outline: none;
    padding-left: 5px;
    border-radius: 7px;
    display: block;
    margin-top: 10px;
    padding-top: 5px;
}
.title {
    color: rgb(255, 0, 0);
    font-size: bold;
}

.btn-enviar {
    background: #ff0000;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    margin-left: 20px;
}





