* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: rgb(219, 217, 217);


}
.container {
    background: rgb(219, 217, 217);
    max-width: 1064px;
    margin: 0 auto;
}

.title-general h1 {
    padding-left: 25px;
    color: rgb(157, 0, 0); 
}

/* criando o header */
header {
    background: rgb(157, 0, 0);
    /* Altura */
    height: 130px;
    border-bottom: 3px solid rgb(5, 5, 5);
    /* flexbox */
    display: flex;
    align-items: center;
}

    header img {
            margin-left: 15px;
            margin-right: 15px;
    }


            header h2 {
                color: rgb(0, 0, 0);
                text-transform: uppercase; 
                font-size: 80px;

            }
/* MENU DO SITE */
.menu {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: rgb(255, 255, 255);
    list-style: none;
}
.menu li {
    border: 1px solid rgb(0, 0, 0);
    /*Espaçamento*/
    padding: 10px;
    /*largur */

}

.menu li a {
    font-size: 33px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 18px;
}

.menu li a { 
    text-decoration: underline;
}

/* BANNER */
.banner {
    max-width: 1000px;
    height: 250px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100px;
    margin: 20px;
    /*cortar imagem*/
    overflow: hidden;
}
/* Content Home */ 
.content-box {
    border: 2px solid rgb(5, 3, 3);
    margin: 20px;
    /*Flexbox*/
    display: flex;
}

.box { 
    border: 5px solid rgb(20, 18, 20);
    max-width: 300px;
    border-radius: 50px;
    /*Cortar imagem*/
    overflow: hidden;
    margin: 10px 35px 20px 20px;
    /*Sombra*/
    box-shadow:  5px 2px 20px rgb(140, 30, 30);
}

.box img {
    border-bottom: 10px;
}

.box p {
    padding: 10px;
    color: rgb(13, 150, 241);
}

.box a {
    padding: 0px 0px 10px 10px;
    display: block;
    color: rgb(3, 8, 1);
    text-decoration: none;
    /*Negrito*/
    font-weight: bold;
}

.box a:hover {
    text-decoration: underline;
}

.promocao {
    border: 5px solid rgb(118, 21, 21);
    /*Flexbox*/
    display: flex;
    justify-content: center;
}

.promocao img { 
    max-width: 800px;
    height: 180px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    margin: 20px;
    /*Cortar imagem*/
    overflow: hidden;
}

.containerlista {
    margin-left: 30px;
    margin-bottom: 30px;
}

.containerlista details {
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.containerlista article {
    margin-top: 8px;
    color: rgb(255, 255, 255);
}
