* {
    padding: 0;
    margin: 0;
}
body {
    background: rgb(34, 48, 194);


}
    .container {
        background: rgb(240, 6, 6);
        max-width: 1064px;
        margin: 0 auto;
    }git

/* criando o header */
    header {
        background: rgb(252, 252, 252);
        /* Altura */
        height: 130px;
        border-bottom: 3px solid rgb(81, 235, 24);
        /* flexbox */
        display: flex;
        align-items: center;


        header img {
            margin-left: 15px;
            margin-right: 15px;


            header h2 {
                color: aliceblue;
                text-transform: uppercase;
                font-size: 30px;
            }
        }
    }

